<a href="https://colab.research.google.com/github/deeseeker/Hello-world/blob/master/quiz_answersipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import missingno
%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
url = 'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'
fuel_data = pd.read_csv(url)

In [3]:
fuel_data.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

Which year has the highest average fuel cost per unit delivered?

In [4]:
year_max_cost= fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().idxmax()
print(f'{year_max_cost} has the highest average fuel cost per unit delivered')

1997 has the highest average fuel cost per unit delivered

Percentage change

In [19]:
coal_df = fuel_data[fuel_data['fuel_type_code_pudl'] == 'coal']

In [21]:
coal_num = coal_df[['utility_id_ferc1',
 'report_year',
 'fuel_qty_burned',
 'fuel_mmbtu_per_unit',
 'fuel_cost_per_unit_burned',
 'fuel_cost_per_unit_delivered',
 'fuel_cost_per_mmbtu']] #get the numeric columns

In [24]:
coal_num.groupby('report_year')['fuel_cost_per_unit_burned'].sum().pct_change(periods=4)

report_year
1994         NaN
1995         NaN
1996         NaN
1997         NaN
1998   -0.205677
1999    0.118838
2000    6.911019
2001   -0.654589
2002   -0.229482
2003    0.898621
2004   -0.904091
2005   -0.264864
2006    0.352357
2007   -0.581149
2008    0.487879
2009    3.101388
2010    6.145852
2011    0.311284
2012    0.224316
2013   -0.612997
2014   -0.826102
2015   -0.215445
2016   -0.367328
2017   -0.418357
2018   -0.384371
Name: fuel_cost_per_unit_burned, dtype: float64

lowest average fuel_cost_per_unit_burned

In [ ]:
low_ave_fuel_burned = fuel_data_cleaned.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().idxmin()

In [ ]:
print(f'{low_ave_fuel_burned} is the lowest average fuel_cost_per_unit_burned')

gas is the lowest average fuel_cost_per_unit_burned

In [32]:
mmbtu_stats_index = fuel_data.describe()['fuel_mmbtu_per_unit'].index # gets the index of the summary stats

In [34]:
mmbtu_stats_val = fuel_data.describe()['fuel_mmbtu_per_unit'].values

In [40]:
mmbtu_stats = dict(zip(mmbtu_stats_index,mmbtu_stats_val)) # put the summary stats in dict

In [45]:
print('The 75% and std are {} and {}'.format(mmbtu_stats['75%'],mmbtu_stats['std']) )

The 75% and std are 17.006 and 10.600220307806886

Kurtosis and Skewness of the data

In [ ]:
kurt_fuel_qty_burned = fuel_data.kurtosis()['fuel_qty_burned']

In [ ]:
skew_fuel_qty_burned = fuel_data.skew()['fuel_qty_burned']

In [ ]:
print(f'The kurtosis and skewness of the fuel_qty_burned are {round(kurt_fuel_qty_burned,2)} and {round(skew_fuel_qty_burned,2)}')

The kurtosis and skewness of the fuel_qty_burned are 651.37 and 15.85

Correlation

In [48]:
fuel_data.corr().loc['fuel_cost_per_unit_burned'].sort_values(ascending=True)

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

percentage missing

In [ ]:
 fract_missing =100 *(len(fuel_data[fuel_data.fuel_unit.isnull()]['fuel_unit'])/fuel_data.shape[0])
 print(fract_missing)

0.609694136774718